div.creature {
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 400px;
    min-height: 100px;
    margin-bottom: 5px;
}

div.creature img {
    max-width: 200px;
    float: right;
}

/* div.creature{
    background-color: yellow;
    border: 2px solid red;
  } */